/* ---------------------------------------------------------------------------
					
	80/20 - IE Styles
	http://8020studio.com
	
--------------------------------------------------------------------------- */

#work-list a:hover {
	background-position: -295px 0;
}

#work-list span.project-extra {
	display: none;
}