/* ---------------------------------------------------------------------------
					
	80/20 - IE7 Styles
	http://8020studio.com
	
--------------------------------------------------------------------------- */

div.work-details {
	left: 0;
}

div.work-details p {
	color: #000;
}